body{
    background-color: #111;
}
.container{
    display:flex;
    flex-direction: column;
    width:1200px;
    margin:auto;
    padding-bottom:100px;
}

/*네비게이션*/
header{
    position:fixed;
    top:0;
    left:0;
    padding:40px 0;
    width:100%;
    z-index:1;
    margin: 0 auto;
    background-color: #111;
}
@media (max-width:1200px){
    .container ,header{
        width:100%;
    }
}
.header-bar{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
}

/* 홈 로고 라인 */
.main-logo{
    display: inline-block;
    margin: 0;
    width: 50px;
    left: 15px;
    height: 50px;
    position: absolute;
}
.main-logo a{
    height: 50px;
    width: 50px;
}
.main-logo a img{
    width:50px;
    height:50px;
}
#wide-menu{
    display: block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    height: 50px;
    line-height: 50px;
}
/* 네비게이션 텍스트 라인 */
#nav-text{
    display: inline-block;
    padding-left: 76px;
    margin: 0;
}

#nav-text li{
    display:inline-block;
}

#nav-text li a{
    text-decoration: none;
    padding:10px;
    color:#808080;
    font-size: 12px;
    letter-spacing: 2px;
}

/* SNS 로고 라인 */
#nav-logo li a{
    text-decoration: none;
    padding:5px;
    opacity: 0.3;
}
#nav-text li a:hover{
    color:white;
    opacity: 1;
}
#nav-logo{
    display:inline-block;
    float: right;
    padding-right: 20px;
    margin: 0;
}
#nav-logo li{
    display:inline-block;
    line-height: 4;
    vertical-align: top;
}
#nav-logo li a{
    opacity: 0.3;
}
#nav-logo li a:hover{
    text-decoration: none;
    color:white;
    opacity: 1;
}
#nav-logo li a img{
    width:30px;
    height:30px;
}
/*모바일 버전 메뉴바*/
.m-menu{
    position: absolute;
    top: -4px;
    right: 30px;
    display: none;
}
#m-menu-btn{
    background-color: black;
    border:1px solid gray;
    color:white;
    font-size: 30px;
}

/*본문*/
.content{
    display: block;
    width:100%;
    padding-top:200px;
    background-color: #111;
}

/* 유튜브 라인 */
.youtube{
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
/* 인스타 텍스트 라인 */
.instagram{
    padding-top:30px;
}
.insta-txt{
    display:flex;
    flex-direction: column;
    padding-left: 20px;
}
.txt1{
    font-size: 22px;
    letter-spacing: 4px;
    color:white;
}
.txt2{
    font-size: 14px;
    color:darkgrey;
}
.txt3{
    font-size: 12px;
    color:gray;
}
/* 인스타 리스트 라인 */
.insta-list {
    text-align: center;
    padding-top:20px;
    padding-left: 0;
}
.insta-list li{
    float: left;
    width: 23%;
    margin: 1%;
    margin-bottom: 20px;
}
.insta-list li a{
    display: block;
    position: relative;
    border: 1px solid #656565;
    padding-top: 100%;
    overflow: hidden;
}
.insta-list li a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* Follow 버튼 라인 */
.follow {
    text-align: center;
}
#btn-follow{
    margin-top: 30px;
    padding:20px 50px;
    background-color: black;
    color:white;
    border: 1px solid gray;
}
#btn-follow:hover{
    background-color: white;
    color:black;
}
#btn-follow:focus{
    
}
#btn-follow span{
    font-size: 20px;
}
/* 스크롤 라인 */
.scroll{
    position: relative;
}
.scroll h3{
    position: fixed;
    top:550px;
    left:50px;
    color:gray;
    font-size: 20px;
}

/* 1024px 이하 네비게이션 라인 */
@media(max-width:1024px){
    header{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .header-bar{
        height: 70px;
    }
    .main-logo{
        top: 20px;
    }
    .main-logo a img{
        width: 35px;
        height: 35px;
    }
    .m-menu{
        display: block;
    }
    #wide-menu{
        position: absolute;
        top: 65px;
        display:none;
        width: 100%;
        margin-top: 0;
    }
    /*메뉴 변화*/
    #nav-text li{
        display:block;
    }
    #nav-text {
        width: 100%;
        text-align: center;
        background-color: black;
        margin-bottom: 0px;
        padding-left: 0px;
        display: block;
    }
    #nav-logo{
        width:100%;
        text-align: center;
        background-color: rgb(9, 9, 9);
        padding: 0;
        float: none;
    }
    .content{
        padding-top:100px;
    }
}
@media (min-width:1025px){
    #wide-menu{
        display: block  !important;
    }
    #nav-text {
        display:inline-block !important;
    }
    #nav-logo{
        display:inline-block !important;
    }
}
@media (max-width:1200px){
    .scroll{
        display:none;
    }
}

@media (max-width:768px){
    .insta-list li{
        width:48%;
    }
}